<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "announcement.html" . -}} {{- partial "header.html" . -}}
    <div id="content">
      {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -}}

    <!-- Reference to matrix.js -->
    {{ $matrix := resources.Get "js/matrix.js" | minify | fingerprint }}
    <script
      src="{{ $matrix.RelPermalink }}"
      integrity="{{ $matrix.Data.Integrity }}"
    ></script>

    {{ $alpine := resources.Get "alpinejs/cdn.min.js" }}
    <script src="{{ $alpine.RelPermalink }}" defer></script>
  </body>
</html>
