<footer class="w-full bg-white pb-10">
  <div class="">
    <div class="grid grid-cols-4 max-sm:grid-cols-1">
      <div
        class="flex flex-col p-14 col-span-3 max-sm:p-6 pl-20 max-sm:pl-10 gap-10 max-sm:gap-6"
      >
        <div class="text-[4rem] max-sm:text-[2rem] font-bold">
          Want to Start <br />a Project?
        </div>
        <button
          class="w-28 h-10 bg-[#1DA903] text-white rounded-[5px] text-center justify-center items-center"
        >
          Let's talk
        </button>
      </div>
      <div class="flex flex-col">
        <ul class="flex flex-col gap-4 pl-10 max-sm:pr-10 pt-20 max-sm:pt-2 max-sm:pb-6 max-sm:grid max-sm:grid-cols-2 text-sm">
          <li>COMPANY</li>
          <li>ABOUT</li>
          <li>CAREERS</li>
          <li>INVESTOR RELATION</li>
          <li>LEGAL</li>
        </ul>
      </div>
    </div>
    <div class="grid grid-cols-4 max-sm:flex max-sm:flex-wrap">
      <div class="col-span-3">
        <ul class="flex max-sm:flex-col items-start gap-20 max-sm:gap-4 text-sm max-sm:text-xs font-thin ml-20 max-sm:ml-10">
          <li class="hover:text-green-600"><a href="">Products & Services</a></li>
          <li class="hover:text-green-600"><a href=""></a>Corporate Social Responsibility Policy</a></li>
          <li class="hover:text-green-600"><a href=""></a>Products & Services</a></li>
        </ul>
      </div>
      <div class="col-span-1 flex gap-5 ml-10 max-sm:mt-10">
        <a href=""><img src="/images/x-social.svg" alt="x-social" class="h-10"></a>
        <a href=""><img src="/images/linkedin-social.svg" alt="linkedin-social" class="h-10"></a>
        <a href=""><img src="/images/github-social.svg" alt="githun-social" class="h-10"></a>
      </div>
    </div>
  </div>
  
</footer>
