<nav
  x-data="accordion(6)"
  class="z-40 flex bg-[#090619] h-[100px] text-white text-[20px] items-center justify-between"
>
  <!-- Left nav -->
  <div class="flex items-center pl-14 max-sm:pl-4">
    <a href="/" class="text-3xl tracking-wide">
      <img
        src="/images/algoteq-logo.png"
        width="176"
        height="28"
        class="w-auto h-[28px]"
        alt="algoteq logo"
      />
    </a>
  </div>
  <!-- End left nav -->

  <!-- Show Menu lg -->
  <div class="hidden w-full lg:flex lg:items-center lg:w-auto">
    <div
      class="items-center flex-1 pt-6 justify-center text-lg lg:pt-0 list-reset lg:flex"
    >
      <div class="">
        <a
          href="/"
          class="inline-block px-4 py-2 no-underline hover:text-gray-400"
        >
          HOME
        </a>
      </div>
      <!-- Dropdown 1 -->
      <div
        x-data="{ open: false }"
        @mouseleave="open = false"
        class="relative inline-block"
        :class="{'text-gray-900': open, : !open  }"
      >
        <!-- Dropdown Toggle Button -->
        <button
          @mouseover="open = true"
          class="flex items-center p-2 rounded-md hover:text-gray-400"
        >
          <span class="mr-1">PRODUCTS</span>
          <span
            :class="open = ! open ? '': '-rotate-180'"
            class="transition-transform duration-500 transform"
          >
            <svg
              class="w-8 h-8 fill-current"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </span>
        </button>
        <!-- End Dropdown Toggle Button -->

        <!-- Dropdown Menu -->
        <div
          x-cloak
          x-show="open"
          x-transition:enter="transition ease-out duration-300"
          x-transition:enter-start="opacity-0 transform scale-90"
          x-transition:enter-end="opacity-100 transform scale-100"
          x-transition:leave="transition ease-in duration-300"
          x-transition:leave-start="opacity-100 transform scale-100"
          x-transition:leave-end="opacity-0 transform scale-90"
          class="absolute bg-white z-30 rounded-lg shadow-lg shadow-black min-w-max text-black grid grid-cols-2 gap-4 p-4"
        >
          <!-- Order Management System -->
          <a
            href="/order_management_system"
            class="flex items-center gap-4 p-4 hover:bg-gray-100 hover:text-gray-900 rounded-lg transition"
          >
            <img
              src="/images/omg-icon.svg"
              loading="lazy"
              fetchpriority="low"
              class="h-10 w-10 flex-shrink-0"
              alt="order management system icon"
            />
            <div class="flex flex-col">
              <span class="text-base font-semibold"
                >Order Management System</span
              >
              <span class="text-sm text-gray-600"
                >Get your trading flow under control.</span
              >
            </div>
          </a>

          <!-- Algorithm Suite -->
          <a
            href="/algorithmic-suite"
            class="flex items-center gap-4 p-4 hover:bg-gray-100 hover:text-gray-900 rounded-lg transition"
          >
            <img
              src="/images/algorithmic-suite-icon.svg"
              alt="Algorithm Suite Icon"
              loading="lazy"
              fetchpriority="low"
              class="h-10 w-10 flex-shrink-0"
            />
            <div class="flex flex-col">
              <span class="text-base font-semibold">Algorithm Suite</span>
              <span class="text-sm text-gray-600"
                >Execute orders efficiently and precisely</span
              >
            </div>
          </a>

          <!-- Algorithmic Platform -->
          <a
            href="/algorithmic-platform"
            class="flex items-center gap-4 p-4 hover:bg-gray-100 hover:text-gray-900 rounded-lg transition"
          >
            <img
              src="/images/algorithmic-platform-icon.svg"
              loading="lazy"
              fetchpriority="low"
              class="h-10 w-10 flex-shrink-0"
            />
            <div class="flex flex-col">
              <span class="text-base font-semibold">Algorithmic Platform</span>
              <span class="text-sm text-gray-600"
                >A paradigm shift in trading.</span
              >
            </div>
          </a>

          <!-- Matching Engine -->
          <a
            href="/matching-engine"
            class="flex items-center gap-4 p-4 hover:bg-gray-100 hover:text-gray-900 rounded-lg transition"
          >
            <img
              src="/images/matching-engine.svg"
              loading="lazy"
              fetchpriority="low"
              class="h-10 w-10 flex-shrink-0"
            />
            <div class="flex flex-col">
              <span class="text-base font-semibold">Matching Engine</span>
              <span class="text-sm text-gray-600"
                >Super fast, reliable, and scalable</span
              >
            </div>
          </a>
        </div>

        <!-- End Dropdown Menu -->
      </div>
      <!-- End Dropdown 1 -->
      <div class="">
        <a
          href="/analytics"
          class="inline-block px-4 py-2 no-underline hover:text-gray-100"
        >
          ANALYTICS
        </a>
      </div>
      <div class="">
        <a
          href="/ai_page"
          class="inline-block px-4 py-2 no-underline hover:text-gray-100"
        >
          AI
        </a>
      </div>
      <div class="">
        <a
          href="/careers"
          class="inline-block px-4 py-2 no-underline hover:text-gray-100"
        >
          CAREERS
        </a>
      </div>
      <div class="">
        <a
          href="/contactus"
          class="inline-block px-4 py-2 no-underline hover:text-gray-100"
        >
          CONTACT US
        </a>
      </div>
      <div class="">
        <a
          href="/blog"
          class="inline-block px-4 py-2 no-underline hover:text-gray-100"
        >
          BLOG
        </a>
      </div>
    </div>
  </div>
  <div class="max-sm:hidden"></div>
  <div
    x-data="{ open: false }"
    class="block lg:hidden cursor-pointer w-44 z-40"
  >
    <!-- Hamburger Button -->
    <button
      @click="open = !open"
      class="w-10 h-10 text-lg max-sm:absolute max-sm:right-4 max-sm:top-[75px]"
    >
      <!-- Hamburger icon -->
      <svg
        x-show="!open"
        viewBox="0 0 48 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="transition-transform duration-500"
      >
        <rect width="48" height="48" fill="white" fill-opacity="0.01"></rect>
        <path
          d="M7.94977 11.9498H39.9498"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M7.94977 23.9498H39.9498"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M7.94977 35.9498H39.9498"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </svg>

      <!-- Close icon -->
      <svg
        x-cloak
        x-show="open"
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-x"
      >
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>

    <!-- Sidebar -->
    <div>
      <div
        x-cloak
        x-show="open"
        x-transition
        @click.away="open = false"
        :class="open ? 'block' : 'hidden'"
        class="sidebar fixed w-1/3 max-sm:w-full top-[0px] max-sm:top-[150px] h-full right-0 overflow-hidden transition-all duration-1000 bg-white text-black p-20"
      >
        <!-- Close Button Inside Sidebar -->
        <button
          @click="open = false"
          class="absolute top-[75px] right-32 max-sm:right-4 max-sm:invisible"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </button>
        <!-- Sidebar Content -->
        <div class="pt-20 max-sm:pt-10 px-5 space-y-6">
          <div
            class="flex flex-col gap-y-4 gap-x-8 font-bold text-2xl max-sm:text-4xl"
          >
            <a href="/" class="hover:text-gray-700">Home</a>
            <a href="/order_management_system" class="hover:text-gray-700"
              >Products</a
            >
            <div
              class="subheaders ml-8 flex flex-col font-normal text-base/6 max-sm:text-base/8"
            >
              <a href="/order_management_system" class="hover:text-gray-700"
                >OMS</a
              >
              <a href="/algorithmic-platform" class="hover:text-gray-700"
                >Algorithmic Platform</a
              >
              <a href="/algorithmic-suite" class="hover:text-gray-700"
                >Algorithmic Suite</a
              >
              <a href="/matching-engine" class="hover:text-gray-700"
                >Matching Engine</a
              >
            </div>
            <a href="/analytics" class="hover:text-gray-700">Analytics</a>
            <a href="/artificial-intelligence" class="hover:text-gray-700"
              >AI</a
            >
            <a href="/careers" class="hover:text-gray-700">Career</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End toggle menu -->
</nav>
