<!-- Services section -->
<div
  class="mx-auto overflow-hidden w-full bg-[#090619] text-white pb-0"
  x-cloak
  x-data="{ visible: false }"
  x-init="setTimeout(() => visible = true, 200)"
>
  <div
    class="hero grid grid-cols-2 max-sm:flex max-sm:flex-col max-sm:justify-center max-sm:items-center"
  >
    <div
      class="col-span-1"
      x-cloak
      x-show="visible"
      x-transition:enter="transition ease-out duration-1000"
      x-transition:enter-start="opacity-0 "
      x-transition:enter-end="opacity-100 "
    >
      <div class="heroimage max-sm:invisible max-sm:absolute">
        <img
          src="/images/hero-image-1.png"
          alt="hero-image"
          class="w-full mt-10 ml-20 max-sm:ml-0"
        />
      </div>
      <div
        class="invisible lg:absolute lg:hidden max-sm:visible flex justify-center"
      >
        <img
          src="/images/laptop-trading.png"
          alt="hero-image"
          class="w-full max-sm:w-5/6 mt-10 z-10"
        />
        <img
          src="/images/Ellipse.svg"
          alt="hero-image"
          class="w-full max-sm:w-5/6 mt-10 absolute z-0"
        />
      </div>
    </div>
    <div
      class="pt-28 max-sm:pt-10 max-sm:mt-0 max-sm:mb-10 col-span-1"
      x-show="visible"
      x-transition:enter="transition ease-out duration-1000"
      x-transition:enter-start="opacity-0 translate-x-12"
      x-transition:enter-end="opacity-100 translate-x-0"
    >
      <div
        class="herocontent flex flex-col justify-center items-center gap-10 max-sm:gap-10"
      >
        <div
          class="firstcontent w-4/6 text-6xl max-sm:text-4xl max-sm:text-center"
        >
          <span>
            Building Intelligent<br />
            Trading
            <span class="relative inline-block">
              Systems
              <span class="absolute -top-2 -right-3 text-sm max-sm:text-[10px]"
                >TM</span
              >
            </span>
          </span>
        </div>

        <div class="secondcontent w-4/6 font-light max-sm:text-center">
          Algoteq builds institutional-grade technology for modern financial
          markets. Founded in 2013 by experienced investment banking
          professionals, we provide state-of-the-art trading solutions.
          <div class="mt-10">
            <a href="/contactus">
              <button
                class="w-28 h-10 bg-white text-black font-bold text-center justify-center items-center"
              >
                Get Started
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="relative mt-20 h-[900px] max-sm:h-[500px] bg-cover max-sm:bg-cover bg-no-repeat"
    style="background-image: url('/images/bg-picture-4-1.png');"
  >
    <!-- Gradient Overlay -->
    <div
      class="absolute max-sm:-top-2 inset-0 bg-gradient-to-b from-[#06041a] to-transparent backdrop-blur-3xl mask-image-gradient"
    ></div>

    <!-- Content -->
    <div
      class="relative z-10 text-white mt-20 max-sm:mt-0"
      x-cloak
      x-data="{ shown: false }"
      x-intersect="shown = true"
    >
      <div
        class="absolute max-sm:flex max-sm:flex-col"
        x-data="{ shown: false }"
        x-intersect="shown = true"
      >
        <div
          class="flex flex-wrap gap-96 max-sm:gap-5 justify-start mt-[10rem] max-sm:mt-5 pl-20 max-sm:pl-5 max-sm:p-6"
          x-show="shown"
          x-transition:enter="transition ease-out duration-1000 delay-50"
          x-transition:enter-start="opacity-0 -translate-x-20"
          x-transition:enter-end="opacity-100 translate-x-0"
        >
          <div>
            <h2 class="text-[70px] max-sm:text-[30px]">
              Advanced<br />Trading<br />Solutions
            </h2>
          </div>
          <div class="mt-32 max-sm:mt-6">
            <span>
              Develop, test, and optimize your strategies<br
                class="lg:hidden"
              />
              effortlessly.<br class="max-sm:hidden" />
              Analyze market trends and execute tradeswith precision using<br />
              Algoteqs advanced tools.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Introduction Section -->
  <div
    class="w-full grid grid-cols-3 max-sm:flex bg-white text-black text-left py-20 max-sm:py-10"
    x-data="{ shown: false }"
    x-intersect="shown = true"
  >
    <div
      class="w-auto md:w-3/4 max-sm:w-11/12 col-span-2 mx-auto"
      x-show="shown"
      x-transition:enter="transition ease-out duration-1000 delay-50"
      x-transition:enter-start="opacity-0 translate-y-12"
      x-transition:enter-end="opacity-100 translate-y-0"
    >
      <h2 class="text-5xl max-sm:text-4xl font-semibold mb-6">
        What We Offer
      </h2>

      <p class="text-xl font-light leading-relaxed mb-12">
        A fully integrated, high-performance trading ecosystem designed for
        reliability, speed, and innovation:
      </p>

      <div
        x-data="tradingFeatures"
        class="grid grid-cols-1 md:grid-cols-2 gap-2 text-left text-base"
      >
        <template x-for="(feature, index) in features" :key="index">
          <div>
            <h3 class="font-semibold text-lg mb-2" x-text="feature.title"></h3>

            <!-- Random Width Divider (60–200px) -->
            <div
              class="h-[2px] max-sm:h-[1px] my-2 max-sm:my-0"
              :style="`background: linear-gradient(to bottom, #00aa00, #539afd); width: ${Math.floor(Math.random() * (200 - 60 + 1)) + 60}px;`"
            ></div>
          </div>
        </template>
        <div class="text-center mt-10 flex justify-start">
          <a href="/contactus">
            <button
              type="submit"
              class="px-8 py-3 bg-gradient-to-r from-blue-100 to-green-500 text-black font-semibold hover:scale-105 hover:from-green-500 hover:to-blue-200 transition-all duration-2000 shadow-white shadow-md"
            >
              Learn More
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="image-feature flex max-sm:hidden">
      <div
        class="rightBlank absolute w-[4px] h-[600px] max-sm:hidden"
        style="background: linear-gradient(to bottom, #00aa00, #539afd);"
      ></div>
      <div
        class="flex justify-center items-center content-center"
        x-show="shown"
        x-transition:enter="transition ease-out duration-1000 delay-500"
        x-transition:enter-start="opacity-0 translate-x-12"
        x-transition:enter-end="opacity-100 translate-x-0"
      >
        <img
          src="/images/imac-binance.png"
          class="object-contain justify-center h-[600px] ml-80"
        />
      </div>
    </div>
  </div>

  <div class="flex flex-col relative bg-[#090619] text-white overflow-hidden">
    <!-- Ellipse Glow Background -->
    <div
      class="absolute top-52 -right-20 translate-x-1/2 -translate-y-1/4 z-0 pointer-events-none"
    >
      <img
        src="/images/ellipse-2.png"
        class="w-[400px] opacity-30 blur-3xl animate-pulse duration-[4000ms]"
        alt="glow background"
      />
    </div>

    <!-- Section Title -->
    <div
      class="flex justify-start items-center py-20 max-sm:py-10 border-b border-gray-600 relative z-10"
    >
      <h2 class="text-5xl max-sm:text-3xl font-semibold pl-28 max-sm:px-5">
        Our comprehensive system includes
      </h2>
    </div>

    <!-- Grid Content -->
    <div
      class="grid grid-cols-3 max-sm:grid-cols-1 border-b border-gray-600 relative z-10"
    >
      <!-- Placeholder Column 2 -->
      <div class="border-r border-gray-600 py-10">
        <main
          class="relative flex justify-center items-center"
          x-data="{
      index: 0,
      cards: [
        { title: 'Matching Engine', url: '/matching-engine/' },
        { title: 'Order Management', url: '/order_management_system' },
        { title: 'Algorithmic Suite', url: '/algorithmic-suite/' },
        { title: 'Algorithmic Platform', url: '/algorithmic-platform/' },
      ]
    }"
        >
          <!-- Grid lines -->
          <div
            class="absolute inset-0 z-0 pointer-events-none opacity-5 bg-[radial-gradient(circle,white_1px,transparent_1px)] [background-size:40px_40px]"
          ></div>

          <!-- Left Navigation Button -->
          <button
            class="absolute left-0 ml-4 z-20 p-2 text-white rounded-full hover:bg-white/10 transition"
            @click="index = (index - 1 + cards.length) % cards.length"
            aria-label="Previous"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 19l-7-7 7-7"
              />
            </svg>
          </button>

          <!-- Right Navigation Button -->
          <button
            class="absolute right-0 mr-4 z-20 p-2 text-white rounded-full hover:bg-white/10 transition"
            @click="index = (index + 1) % cards.length"
            aria-label="Next"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 5l7 7-7 7"
              />
            </svg>
          </button>

          <!-- Visual Card Swiper -->
          <div
            class="relative z-10 flex flex-col items-center justify-center h-full"
          >
            <div
              class="relative transition-all duration-700 ease-in-out"
              x-transition:enter="transform scale-90 opacity-0"
              x-transition:enter-start="transform scale-90 opacity-0"
              x-transition:enter-end="transform scale-120 opacity-100"
              x-transition:leave="transform scale-90 opacity-0"
              x-transition:leave-end="transform scale-90 opacity-0"
            >
              <!-- Cards -->
              <template x-for="(item, i) in cards" :key="i">
                <a
                  :href="item.url"
                  x-show="index === i"
                  class="w-[200px] h-[200px] max-sm:w-[150px] max-sm:h-[150px] hover:scale-110 duration-500 m-20 bg-white rounded-full border border-cyan-500/20 backdrop-blur-sm shadow-[0_0_70px_#defffc] relative flex items-center justify-center"
                >
                  <div
                    class="absolute inset-0 animate-spin-slow border-[1px] border-white/10 backdrop-blur-lg shadow-[0_0_10px_#defffc]"
                  ></div>
                  <div
                    class="absolute inset-0 animate-spin-slower border-[1px] border-white/30 backdrop-blur-lg shadow-[0_0_10px_#defffc]"
                  ></div>
                  <div class="text-center z-10">
                    <p
                      class="uppercase max-sm:text-sm font-semibold bg-gradient-to-r from-blue-900 to-green-800 bg-clip-text text-transparent mb-2"
                      x-text="item.title"
                    ></p>
                  </div>
                </a>
              </template>
            </div>
          </div>
        </main>
      </div>

      <!-- Dynamic Items List (Column 1) -->
      <div
        class="py-10 px-20 max-sm:px-0 col-span-2 text-xl"
        x-data="{
        items: [
          'A high-frequency message bus providing a fast and reliable information highway',
          'A scalable, high-performance, and resilient Order Management System (OMS)',
          'An institutional-grade matching engine for high-speed, multi-asset execution',
          'A distributed algorithmic trading platform',
          'A portfolio of advanced trading algorithms',
          'Analytics and performance insights',
          'An ultra-realistic exchange and trading simulato',
          'Agent-based artificial markets to test, refine, and validate trading strategies'
        ]
      }"
      >
        <template x-for="(item, index) in items" :key="index">
          <div
            x-data="{ open: false }"
            @mouseleave="open = false"
            class="flex flex-row justify-start items-start group max-sm:px-8 max-sm:pb-2"
          >
            <!-- Dropdown Toggle Button
            <button
              @mouseover="open = true"
              class="flex items-center rounded-md hover:text-gray-400 pl-20 max-sm:pl-0"
            >
              <span
                :class="open ? '-rotate-180' : ''"
                class="transition-transform duration-500 transform text-2xl max-sm:text-3xl font-bold bg-gradient-to-r from-blue-500 to-green-500 bg-clip-text text-transparent"
              >
                X
              </span>
            </button>
             Item Text -->
            <span
              x-text="item"
              class="ml-4 group-hover:text-gray-400 transition duration-300 pb-5"
            ></span>
          </div>
        </template>
      </div>
    </div>
  </div>
</div>
